<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>app</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
  </head>
  <body>
    <header>登録</header>

    <form action="/create" method="post" class="alcohol-form" name="form1">
      <div class="alcohol-type">
        <p>種類</p>
        <div class="type-wrapper">
          <div class="wrapper">
            <input type="radio" name="alcoholName" value="ビール" id="beer">
            <label for="beer" onclick="onRadioButtonChange('5');changeCheckbox('350ml');averageKcal('150')">
              <img class="register-img" src="../images/beer.jpg">
              <span>ビール</span>
            </label>
          </div>
          <div class="wrapper">
            <input type="radio" name="alcoholName" value="チューハイ" id="chuhai">
            <label for="chuhai" onclick="onRadioButtonChange('5');changeCheckbox('350ml');averageKcal('')">
              <img class="register-img" src="../images/chuhai.jpg">
              <span>チューハイ</span>
            </label>
          </div>
          <div class="wrapper">
            <input type="radio" name="alcoholName" value="日本酒" id="nihonshu">
            <label for="nihonshu" onclick="onRadioButtonChange('15');changeCheckbox('180ml');averageKcal('190')">
              <img class="register-img" src="../images/nihonshu.jpg">
              <span>日本酒</span>
            </label>
          </div>
          <div class="wrapper">
            <input type="radio" name="alcoholName" value="ウイスキー" id="wiskey" >
            <label for="wiskey" onclick="onRadioButtonChange('40');changeCheckbox('30ml');averageKcal('70')">
              <img class="register-img" src="../images/wiskey.jpg">
              <span>ウイスキー</span>
            </label>
          </div>
          <div class="wrapper">
            <input type="radio" name="alcoholName" value="焼酎" id="shochu" >
            <label for="shochu" onclick="onRadioButtonChange('25');changeCheckbox('90ml');averageKcal('131')">
              <img class="register-img" src="../images/shochu.jpg">
              <span>焼酎</span>
            </label>
          </div>
          <div class="wrapper">
            <input type="radio" name="alcoholName" value="梅酒" id="umeshu">
            <label for="umeshu" onclick="onRadioButtonChange('');changeCheckbox('90ml');averageKcal('156')">
              <img class="register-img" src="../images/umesyu.jpg">
              <span>梅酒</span>
            </label>
          </div>
          <div class="wrapper">
            <input type="radio" name="alcoholName" value="ワイン" id="wine" >
            <label for="wine" onclick="onRadioButtonChange('14');changeCheckbox('120ml');averageKcal('120')">
              <img class="register-img" src="../images/wine.jpg">
              <span>ワイン</span>
            </label>
          </div>
          <div class="wrapper">
            <input type="radio" name="alcoholName" value="その他" id="etc">
            <label for="etc" onclick="onRadioButtonChange('');averageKcal('')">
              <img class="register-img" src="../images/etc.png">
              <span>その他</span>
            </label>
          </div>
        </div>
      </div>
  
      <div class="alcohol-ml">
        <p>量</p>
        <div class="ml-wrapper">
          <div class="wrapper">
            <input type="radio" name="ml" value="30" id="30ml">
            <label class="register-ml" for="30ml">
              <img class="register-img" src="../images/30ml.png">
              <span>30ml<p>[ウイスキー:<br>シングル]</p></span>
            </label>
          </div>
          <div class="wrapper">
            <input type="radio" name="ml" value="60" id="60ml">
            <label class="register-ml"  for="60ml">
              <img class="register-img" src="../images/60ml.png">
              <span>60ml<p>[ウイスキー:<br>ダブル]</p></span>
            </label>
          </div>
          <div class="wrapper">
            <input type="radio" name="ml" value="90" id="90ml">
            <label class="register-ml"  for="90ml">
              <img class="register-img" src="../images/110ml.jpg">
              <span>90ml<p>[焼酎:ロック、<br>梅酒:ロック]</p></span>
            </label>
          </div>
          <div class="wrapper">
            <input type="radio" name="ml" value="120" id="120ml">
            <label class="register-ml"  for="120ml">
              <img class="register-img" src="">
              <span>120ml<p>[ワイン:一杯]</p></span>
            </label>
          </div>
          <div class="wrapper">
            <input type="radio" name="ml" value="180" id="180ml">
            <label class="register-ml"  for="180ml">
              <img class="register-img" src="../images/180ml.jpg">
              <span>180ml<p>[日本酒:一合]</p></span>
            </label>
          </div>
          <div class="wrapper">
            <input type="radio" name="ml" value="350" id="350ml">
            <label class="register-ml"  for="350ml">
              <img class="register-img" src="../images/350ml.png">
              <span>350ml<p>[缶ビール:一本]</p></span>
            </label>
          </div>
          <div class="wrapper">
            <input type="radio" name="ml" value="500" id="500ml">
            <label class="register-ml"  for="500ml">
              <img class="register-img" src="../images/500ml.jpg">
              <span>500ml<p>[缶ビール(ロング):一本]</p></span>
            </label>
          </div>
        </div>
      </div>
      <div class="alcohol-percent">
        <p>度数</p>
        <input type="text" name="alcoholPercent" id="target"> %
      </div>

      <div class="alcohol-value">
        <p>金額</p>
        <input type="text" name="alcoholValue"> 円
      </div>

      <div class="alcohol-kcal">
        <p>カロリー</p>
        <input type="text" name="alcoholKcal" id="avgkcal"> kcal
      </div>
      <input type="submit" class="button register-button" value="登録" >
      <a href="/top" class="button return">もどる</a>
    </form>

    <div class="explanation">
      <p>(参考)</p>
      <a href="https://zunny.jp/00003169">https://zunny.jp/00003169</a>
    </div>

    <footer></footer>
    <script src="../scripts/script.js"></script>
  </body>
</html>