<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>app</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
  </head>
  <body>
    <% var nowWeight = alcohols[0].weight; %>
    <header>設定</header>
    <div class="weight-main">
      <ul>
        <li>
          
        </li>
      </ul>
      <form action="/set" method="post" name="settingform" >
        <ul>
          <li>体重設定
            <div class="setting-border">
              <input type="text" name="weight" id="nowweight"> kg
              <br>
              <input type="checkbox" name="weightdisplay" onchange="weightDisplay('<%= nowWeight %>')" id="weightlabel">
                <label for="weightlabel">
                  <span class="settingtext">設定されている体重を表示する</span>
                </label>
            </div>
          </li>
        </ul>
        <input type="submit" class="button register-button" value="変更" >
      </form>
    </div>
    <div class="top-return">
      <a href="/top" id="returnbutton"><i class="fas fa-less-than"></i>もどる</a>
    </div>
    <script src="../scripts/script.js"></script>
  </body>
</html>