<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>app</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <form action="/set" method="post">
      <input type="text" name="weight">kg
    </form>
    <a href="/" class="button">もどる</a>
  </body>
</html>