<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>app</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
  </head>
  <body>
    
    <header>体重</header>
    <div class="weight-main">
      <form action="/set" method="post">
        <input type="text" name="weight" placeholder="<%= alcohols[0].weight %>"> kg
        <input type="submit" class="button register-button" value="変更" >
      </form>
      <a href="/top" class="button return">もどる</a>
    </div>
  </body>
</html>