<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>app</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
  </head>
  <body>
    <header></header>
    <main>
      <div class="start-main"></div>
    </main>
    <section class="start-buttons">
      <form action="/timestart" method="post"><input type="submit" class="start-button" value="乾杯"></form>
      <form action="/index" method="post"><input type="submit" class="start-button" value="一覧"></form>
    </section>
  </body>
</html>