body {
  padding: 0;
  margin: 0 ;
  box-sizing: border-box;
  font-family: 'Hiragino Kaku Gothic Pro', 'Noto Sans JP','游ゴシック','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  color: rgb(58, 55, 55);
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

header,
footer {
  height: 70px;
  background: rgb(169, 236, 191);
  margin: 0;
  text-align: center;
  color: white;
  line-height: 70px;
  font-size: 22px;
}

/* とぷが =-----------------=======================================*/
.top-head {
  display: flex;
  justify-content: space-between;
}

.top-head > div {
  padding-left: 10px;
  font-size: 22px;
}

.fa-cog {
  color: #FCFFC6;
  margin-right: 30px;
  margin-left: 10px;
}

.add {
  line-height: 70px;
  margin-right: 10px;
  padding: 0 20px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background: rgb(106, 101, 124);
}

.main1 {
  padding: 10px 10px 20px 10px;
  display: flex;
  justify-content: space-between;
}

.main2 {
  padding: 10px 10px 20px 10px;
  font-size: 15px;
}

.big {
  font-size: 30px;
  font-family: 'arial black';
  color: rgb(238, 103, 103);
  padding: 0 5px;
}

.img, .content {
  text-align: center;
  margin-top: 10px;
}

.content {
  padding: 8px 16px 8px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content > div {
  box-shadow: 1px 0 4px 1px rgb(221, 217, 217);
  padding: 10px;
}

.content > div > p {
  font-size: 12px;
  color: rgb(61, 61, 85); 
}
.img > img {
  width: 200px;
  height: 300px; 
  background: #FCFFC6;
}

.img > p {
  font-size: 12px;
}

.main2 > .main2p {
  font-weight: bold;
}
.main2 > p {
  text-align: center;
  padding: 0;
}
.main2p > span {
  vertical-align: -4px;
  padding-left: 10px;
}

/* 登録============================================================== */
.alcohol-form {
  text-align: center;
  padding: 0 0 20px 0;
  margin: 0 10px;
}

.type-wrapper,
.ml-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.alcohol-type > p,
.alcohol-ml > p,
.alcohol-value > p,
.alcohol-kcal > p,
.alcohol-percent > p {
  padding: 10px 0;
}

.alcohol-ml > p,
.alcohol-value > p,
.alcohol-kcal > p,
.alcohol-percent > p {
  border-top: 2px solid rgb(213, 235, 243);
}

.alcohol-value,
.alcohol-percent {
  margin-bottom: 20px;
}

.alcohol-type,
.alcohol-ml {
  padding-bottom: 20px;
}

input[type=radio] {
  display: none; 
}

.alcohol-type input[type="radio"]:checked + label img,
.alcohol-ml input[type="radio"]:checked + label img{
  background: #ffbf36;
}

.register-img {
  padding: 4px;
  width: 90px;
  height: 90px;
  background-color: white ;
}
.wrapper {
  padding: 5px;
  width: 90px;
  display: inline-block;
  position: relative;
}

label > span {
  font-size: 12px;
  padding-bottom: 20px;
}

label > span > p {
  font-size: 10px;
}

input[type=text] {
  height: 20px;
  width: 40%;
  border: 1px solid #d4d1d1;
}
.button {
  color:white;
  display: block;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  margin: 30px auto;
  font-size: 20px;
}

.return {
  width: 120px;
  height: 50px;
  line-height: 50px;
  background: rgb(175, 212, 195);
  box-shadow: 0 4px rgb(119, 148, 135);
}

.register-button {
  width: 130px;
  height: 60px;
  line-height: 60px;
  border-style: none;
  margin-top: 60px;
  background: rgb(105, 228, 167);
  box-shadow: 0 4px rgb(81, 168, 125);
  font-family: 'Noto Sans JP','游ゴシック','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

.oaiso {
  background: rgb(141, 141, 141);
  box-shadow: 0 4px rgb(78, 78, 78);
}

.button:active {
  box-shadow: none;
  transform: translateY(4px);
}

/* 一覧 ================================================================ */
.container {
  margin: 0 auto;
  margin-top: 20px;
}

.table-head {
  display: flex;
  background-color: rgb(169, 236, 191);
  border-radius: 2px 2px 0 0;
  height: 44px;
  font-size: 16px;
  line-height: 46px;
  color: #ffffff;
}

.id-column {
  text-align: center;
}

.table-body li {
  height: 72px;
  border: 1px solid #e0e1e2;
  border-top: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-body .id-column {
  font-size: 16px;
  color: #b8cde4;
}

.table-body {
  font-size: 14px;
  font-weight: 500;
  color: #48515e;
}

.item-data, .table-head {
  display: grid;
  grid-template-columns: 30px 70px 50px 50px 50px;
  gap: 15px;
}

.item-menu {
  display: flex;
}

.item-menu form {
  width: 60px;
  text-align: center;
}

.item-menu form input {
  font-size: 16px;
  color: #a6a8aa;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}
/* 設定＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.weight-main {
  margin-top: 40px;
  text-align: center;
}
/* トップのトップ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.start-header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  letter-spacing: 1px;
  font-size: 22px;
  font-family : 'Hiragino Kaku Gothic Pro';
  font-weight: bold;
  position: fixed;
  z-index: 10;
  color: rgb(142, 140, 151);
  background: white;
  box-shadow: 0 0 3px 1px white;
} 
.start {
  position: relative;
}
.start-main {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
} 
.start-main > img {
  width: 100%;
  object-fit: cover;
  filter: brightness(80%);
}
.topuga {
  background-color: white;
  height: 300px;
}
.start-button {
  position: absolute;
  padding: 10px 40px;
  line-height: 50px;
  display: block;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  border-style: none;
  font-weight: bold;
}

.kanpai {
  bottom: 100px;
  left: 0;
  right: 0;
  z-index: 10;
  height: 70px;
  border-radius: 10px;
  color:#ffffff;
  background: #ffb81e;
  box-shadow: 0 0 2px 2px #ffffffc4;
  top: 280px;
  bottom: 0;
  right: 0;
  left: 0px;
}
.kanpai:active {
  background: #da9d1a;
}

.list-button {
  width: 100%;
  height: 80px;
  color:rgb(81, 79, 88);
  background: #ffffffc7;
  box-shadow: 0 0 2px 2px #ffffffc7;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
/* 一覧＋α＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.list-header {
  height: 70px;
  width: 100%;
  background: rgba(92, 92, 92, 0.829);
  box-shadow: 1px 0 3px 3px rgba(92, 92, 92, 0.829);
  margin: 0;
  text-align: center;
  color: rgb(255, 255, 255);
  line-height: 70px;
  font-size: 22px;
  position: fixed;
  z-index: 10;
}

.list-container {
  padding-top: 70px;
  margin: 0 auto;
}

.alcohol-list {
  display: flex;
  justify-content: space-between;
  background-color: rgb(108, 165, 134);
  border-radius: 2px 2px 0 0;
  height: 44px;
  font-size: 16px;
  line-height: 46px;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 10px;
}
.plus {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.bgc:nth-child(odd) {
  background-color: rgb(238, 238, 238)
}

/* 死＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.dead {
  background: black;
  color: red;
  font-family: 'Yu Mincho';
}
.table-body > .dead {
  background: black;
  color: red;
  font-family: 'Yu Mincho';
}
.dead-red {
  background: red;
  color: black;
  font-family: 'Yu Mincho';
}
.dead-button {
  color: black;
  background: red;
  box-shadow: 0 4px rgb(146, 31, 31);
  font-family: 'Yu Mincho';
}
.dead-color {
  color: red;
  font-family: 'Yu Mincho';
}
