@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
  padding: 0;
  margin: 0 ;
  box-sizing: border-box;
  font-family: 'Hiragino Kaku Gothic Pro', 'Noto Sans JP','游ゴシック','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  color: rgb(58, 55, 55);
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p { margin: 0; }

header,
footer {
  height: 70px;
  background: linear-gradient(rgb(135, 214, 161), rgb(187, 236, 187));
  margin: 0;
  text-align: center;
  color: white;
  line-height: 70px;
  font-size: 22px;
}

/* とぷが =-----------------=======================================*/
.top-head {
  display: flex;
  justify-content: space-between;
}

.top-head > div {
  padding-top: 10px;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  line-height: normal;
}
#header-span {
  font-weight: bold;
  border-bottom: 2px dashed #e2e7ec;
}
.headspa-height {
  line-height: 1.8;
}
.tosetting {
  display: inline-block;
  padding-left: 20px;
}
.fa-cog {
  color: #f0f0f0;
  font-size: 30px;
}
.starttimedisplay {
  font-size: 14px;
}

.add {
  line-height: 70px;
  margin-right: 10px;
  padding: 0 20px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background: linear-gradient(rgb(99, 92, 126), rgb(127, 123, 143));
}

.main1 {
  padding: 10px 10px 20px 10px;
  display: flex;
  justify-content: space-around;
}

.main2 {
  padding: 10px 10px 20px 10px;
  font-size: 15px;
}

.big {
  font-size: 30px;
  font-family: 'arial black';
  color: rgb(238, 103, 103);
  padding: 0 5px;
}

.img, .content {
  text-align: center;
  margin-top: 10px;
}

.content {
  padding: 8px 16px 8px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content > div {
  box-shadow: 1px 0 4px 1px rgb(221, 217, 217);
  padding: 10px;
}

.content > div > p {
  font-size: 12px;
  color: rgb(61, 61, 85); 
}
.img > img {
  width: 200px;
  height: 300px; 
  background: #ebebe7;
  object-fit: cover;
}

.img > p {
  font-size: 12px;
}

.main2 > .main2p {
  font-weight: bold;
}
.main2 > p {
  text-align: center;
}
.timebig {
  vertical-align: -4px;
}
.main2p > span {
  padding-right: 5px;
}

.explanation {
  font-size: 10px;
  color: #545557;
  margin: 10px 30px; 
}
.explanation > li > span {
  color: rgb(202, 53, 53);
}

.top-form {
  display: flex;
  justify-content: space-evenly;
}

.wordcheck {
  text-align: center;
}

/* 登録============================================================== */
.alcohol-form {
  text-align: center;
  padding: 0 0 20px 0;
  margin: 0 10px;
}
#register-header {
  font-weight: bold;
}

.type-wrapper,
.ml-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.alcohol-type > p,
.alcohol-ml > p,
.alcohol-value > p,
.alcohol-kcal > p,
.alcohol-percent > p {
  padding: 10px 0;
}

.alcohol-ml > p,
.alcohol-value > p,
.alcohol-kcal > p,
.alcohol-percent > p {
  border-top: 2px solid rgb(213, 235, 243);
}

.alcohol-value,
.alcohol-percent {
  margin-bottom: 20px;
}

.alcohol-type,
.alcohol-ml {
  padding-bottom: 20px;
}

input[type=radio] {
  display: none; 
}

.alcohol-type input[type="radio"]:checked + label img,
.alcohol-ml input[type="radio"]:checked + label img{
  background: #ffbf36;
}

.register-img {
  padding: 4px;
  width: 90px;
  height: 90px;
  background-color: white ;
  object-fit: cover;
}
.wrapper {
  padding: 5px;
  width: 90px;
  display: inline-block;
  position: relative;
}

label > span {
  font-size: 12px;
  padding-bottom: 20px;
}

label > span > p {
  font-size: 10px;
}

input[type=text] {
  height: 20px;
  width: 40%;
  border: 1px solid #d4d1d1;
}
.button {
  color:white;
  display: block;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  margin: 30px auto;
  font-size: 20px;
}

.return {
  width: 120px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(rgb(159, 192, 177), rgb(175, 212, 195));
  box-shadow: 0 4px rgb(119, 148, 135);
}

.register-button {
  width: 130px;
  height: 60px;
  line-height: 60px;
  border-style: none;
  margin-top: 60px;
  background: linear-gradient(rgb(105, 228, 167), rgb(140, 255, 179));
  box-shadow: 0 4px rgb(81, 168, 125);
  font-family: 'Noto Sans JP','游ゴシック','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

.oaiso {
  background: linear-gradient( rgb(133, 133, 133),  rgb(156, 156, 156));
  box-shadow: 0 4px rgb(78, 78, 78);
}

.to-top {
  background: linear-gradient( #ff9a15,  #ffb81e);
  box-shadow: 0 4px #e08713;
}

.button:active {
  box-shadow: none;
  transform: translateY(4px);
}

.explanation > a {
  color: rgb(58, 55, 55);
  text-decoration: none;
}

/* 一覧 ================================================================ */
.container {
  margin-top: 20px;
}

.table-head {
  background-color: rgb(169, 236, 191);
  border-radius: 2px 2px 0 0;
  height: 44px;
  font-size: 16px;
  line-height: 46px;
  color: #ffffff;
}

.id-column {
  text-align: center;
}

.table-body li {
  height: 72px;
  border: 1px solid #e0e1e2;
  border-top: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-body .id-column {
  font-size: 16px;
  color: #b8cde4;
}

.table-body {
  font-size: 14px;
  color: #48515e;
}

.item-data, .table-head {
  display: grid;
  grid-template-columns: 30px 70px 50px 50px 50px;
  gap: 15px;
}

.item-menu {
  display: flex;
}

.item-menu form {
  width: 60px;
  text-align: center;
}

.item-menu form input {
  font-size: 16px;
  color: #a6a8aa;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}
/* 設定＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.setting-border {
  padding-top: 10px;
  padding-bottom: 40px;
  border-bottom: 1px solid  #dadfe6;
}

.weight-main {
  margin-top: 20px;
  text-align: center;
}
.tips {
  margin: 30px;
  background: tomato;
}
.settingtext {
  font-size: 14px;
}

input[type=checkbox] { display:none; } 
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } 

input[type=checkbox]:checked + label:before { content: "\f046"; } 

/* トップのトップ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.start-header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  letter-spacing: 1px;
  font-size: 24px;
  font-family : 'Hiragino Kaku Gothic Pro';
  font-weight: bold;
  position: fixed;
  z-index: 10;
  color: rgb(142, 140, 151);
  background: white;
  box-shadow: 0 0 3px 1px white;
} 
.start {
  position: relative;
}
.start-main {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
} 
.start-main > img {
  width: 100%;
  object-fit: cover;
  filter: brightness(80%);
}
.topuga {
  background-color: white;
  height: 300px;
}
.start-button {
  position: absolute;
  padding: 10px 40px;
  line-height: 50px;
  display: block;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  border-style: none;
  font-weight: bold;
}

.start-img {
  position: absolute;
}

.start-imgs {
  display: none;
}

.highballimg {
  bottom: 270px;
  left: 50px;
  right: 0;
  z-index: 6;
  height: 150px;
  transform: scale(-1, 1) rotate( 15deg );
}
.whiskeyimg {
  bottom: 280px;
  right: 50px;
  z-index: 6;
  height: 100px;
  transform: rotate( 15deg );
}
.bourbonimg {
  bottom: 310px;
  right: 55px;
  z-index: 5;
  height: 200px;
  transform: rotate( 12deg );
}

.kanpai {
  bottom: 100px;
  left: 0;
  right: 0;
  z-index: 8;
  height: 70px;
  border-radius: 10px;
  color:#ffffff;
  background: linear-gradient( #ff9a15,  #ffb81e);
  box-shadow: 0 0 2px 2px #ffffffc4;
  top: 280px;
  bottom: 0;
  right: 0;
  left: 0px;
}
.kanpai:active {
  filter: brightness(50%);
}

.kanpainow {
  background: linear-gradient( #1596ff,  #44caff);
}

.list-button {
  width: 100%;
  height: 80px;
  color:rgb(81, 79, 88);
  background: #ffffffc7;
  box-shadow: 0 0 2px 2px #ffffffc7;
  bottom: 0;
  z-index: 8;
}
/* 一覧＋α＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.list-header {
  height: 70px;
  width: 100%;
  background: linear-gradient(rgba(52, 41, 68, 0.8), rgba(82, 78, 126, 0.8));
  box-shadow: 1px 0 3px 3px rgba(82, 78, 126, 0.8);
  margin: 0;
  text-align: center;
  color: rgb(255, 255, 255);
  line-height: 70px;
  font-size: 22px;
  position: fixed;
  z-index: 10;
}


.list-container {
  padding-top: 70px;
  margin: 0 auto;
}

.list-wrapper {
  display: none;
}

.alcohol-list {
  display: flex;
  justify-content: space-between;
  background: rgb(129, 218, 230);
  height: 50px;
  font-size: 16px;
  line-height: 52px;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 10px;
}
.blue {
  background: rgb(130, 175, 235);
}
.violet {
  background: rgb(194, 131, 231);
}
.bluepink {
  background: rgb(219, 120, 189);
}
.pink {
  background: rgb(255, 97, 163);
}
.red {
  background: rgb(236, 28, 28);
}
.plus {
  margin-right: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family:sans-serif;
}

.index-head {
  background-color: rgb(219, 212, 212);
}

.bgc:nth-child(odd) {
  background-color: rgb(248, 244, 244)
}

.gokei {
  background: rgb(236, 234, 234);
  padding: 0 20px;
}
.petit {
  font-size: 20px;
  color: rgb(226, 55, 92);
}

/* 死＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.dead {
  background: black;
  color: red;
  font-family: 'Yu Mincho';
}
.table-body > .dead {
  background: black;
  color: red;
  font-family: 'Yu Mincho';
}
.dead-red {
  background: red;
  color: black;
  font-family: 'Yu Mincho';
}
.dead-button {
  color: black;
  background: red;
  box-shadow: 0 4px rgb(146, 31, 31);
  font-family: 'Yu Mincho';
}
.dead-color {
  color: red;
  font-family: 'Yu Mincho';
}
